In [3]:
import pandas as pd

data_noise = pd.read_csv("../Data/daily_noisedata_2022.csv")

data_noise.head()

   month  day                       description      lamax       laeq
0      1    1      MP 03: Naamsestraat 62 Taste  51.665242  49.992637
1      1    1    MP 05: Calvariekapel KU Leuven  48.747476  46.504067
2      1    1  MP 06: Parkstraat 2 La Filosovia  48.270005  46.007220
3      1    1            MP 07: Naamsestraat 81  45.908501  44.373056
4      1    2      MP 03: Naamsestraat 62 Taste  51.407297  50.094018

In [8]:
average_lamax_per_location = data_noise.groupby('description')['lamax'].mean()

print(average_lamax_per_location)

location_with_highest_average = average_lamax_per_location.idxmax()
highest_average_value = average_lamax_per_location.max()

print("noisiest place")
print(location_with_highest_average)
print(round(highest_average_value,2))

description
MP 01: Naamsestraat 35  Maxim       54.723157
MP 02: Naamsestraat 57 Xior         53.246322
MP 03: Naamsestraat 62 Taste        54.739524
MP 04: His & Hears                  55.340832
MP 05: Calvariekapel KU Leuven      52.788496
MP 06: Parkstraat 2 La Filosovia    52.750015
MP 07: Naamsestraat 81              51.339836
MP08bis - Vrijthof                  46.527404
Name: lamax, dtype: float64
noisiest place
MP 04: His & Hears
55.34

In [9]:
location_with_highest_average = location_with_highest_average.split(":")[-1].strip()

print(location_with_highest_average)

His & Hears