In [11]:
import pandas as pd
import datetime

In [12]:
noise_data = pd.read_csv("../Data/hourly_noisedata_2022.csv", header = 0, sep=',')
print(noise_data.head())

   month  day  hour                       description      lamax       laeq
0      1    1     0      MP 03: Naamsestraat 62 Taste  60.322528  57.126833
1      1    1     0    MP 05: Calvariekapel KU Leuven  53.230972  49.987639
2      1    1     0  MP 06: Parkstraat 2 La Filosovia  53.666056  50.752000
3      1    1     0            MP 07: Naamsestraat 81  50.056861  47.440222
4      1    1     1      MP 03: Naamsestraat 62 Taste  53.033583  50.853806

In [13]:
# Should we take the mean over all locations first? Or make it such that you can select the locations?

# take the mean value across all locations
noise_per_hour = noise_data.drop(columns='description', axis=1)
noise_per_hour = noise_per_hour.groupby(['month', 'day', 'hour']).mean()
noise_per_hour = noise_per_hour.reset_index()
noise_per_hour.head()

   month  day  hour      lamax       laeq
0      1    1     0  54.319104  51.326674
1      1    1     1  54.152799  51.563278
2      1    1     2  50.295141  47.712392
3      1    1     3  47.531120  45.182907
4      1    1     4  45.521949  42.996168

In [14]:
# Create a new column 'wk_day' in the dataframe
noise_per_hour['wk_day'] = None

# Iterate through each row in the DataFrame
for index, row in noise_per_hour.iterrows():
    # Extract the hour, day, and month values from the row
    hour = row['hour']
    day = row['day']
    month = row['month']
    
    # Create a datetime object for the given hour, day, month, and assuming the year is 2022
    dt = datetime.datetime(2022, month, day, hour)
    
    # Get the abbreviated weekday name (e.g., Mon, Tue, Wed) and assign it to the 'wk_day' column
    noise_per_hour.at[index, 'wk_day'] = dt.strftime("%a")

print(noise_per_hour.head())

   month  day  hour      lamax       laeq wk_day
0      1    1     0  54.319104  51.326674    Sat
1      1    1     1  54.152799  51.563278    Sat
2      1    1     2  50.295141  47.712392    Sat
3      1    1     3  47.531120  45.182907    Sat
4      1    1     4  45.521949  42.996168    Sat